    <div class="row">
        <div class="col-md-6 col-sm-12 p-4">
            <RadzenChart>
                <RadzenColumnSeries Data="@currencyArr" CategoryProperty="Name" Title="2020" LineType="LineType.Dashed" ValueProperty="Price" />
                
                <RadzenColumnOptions Radius="5" />
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Price in IRR" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    </div>
@code {
    [Parameter]
    public Currency[] currencyArr {get;set;}
}