@page "/"
@inject IJSRuntime JS;
@inject IJSRuntime JsRuntime;
@using Blazor.Extensions;
@using Blazor.Extensions.Canvas.Canvas2D ;
@using System.Drawing;

<div id="theCanvas" style="position: fixed; opacity: 1; background-color: White; width: 100%; height: 100%">
    <BECanvas Width="3000" Height="4000" @ref="_canvasReference"></BECanvas>
</div>

@code
{
    private Canvas2DContext _context;

    protected BECanvasComponent _canvasReference;
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();
        await this._context.SetFillStyleAsync("green");

        await this._context.FillRectAsync(10, 100, 100, 100);

    }
    protected override async Task OnInitializedAsync()
    {
            await JsRuntime.InvokeAsync<object>("initGame", DotNetObjectReference.Create(this));
            await base.OnInitializedAsync();
    }
    [JSInvokable]
    public async ValueTask GameLoop(float timestamp)
    {
        await JsRuntime.InvokeAsync<object>("initGame", DotNetObjectReference.Create(this));
        this._context = await this._canvasReference.CreateCanvas2DAsync();
        await _context.SetFillStyleAsync("Blue");
        await _context.BeginPathAsync();
        await _context.ArcAsync(200, 100, 50, 0, 2 * Math.PI);
        await _context.FillAsync();

        await _context.BeginPathAsync();
        await _context.MoveToAsync(500, 200);
        await _context.LineToAsync(300, 300);
        await _context.StrokeAsync();

        await _context.SetFillStyleAsync("Red");
        await _context.BeginPathAsync();
        await _context.MoveToAsync(400, 200);
        await _context.LineToAsync(350, 250);
        await _context.LineToAsync(350, 150);
        await _context.FillAsync();

        await _context.BeginPathAsync();
        await _context.ArcAsync(200, 100, 50, 0, 2 * Math.PI);
        await _context.SetStrokeStyleAsync("#0099b0") ;
        await _context.StrokeAsync();

        await _context.BeginPathAsync();
        await _context.MoveToAsync(400, 200);
        await _context.LineToAsync(350, 250);
        await _context.LineToAsync(350, 150);
        await _context.StrokeAsync();

        await _context.SetStrokeStyleAsync("#ff8080");
        await _context.StrokeRectAsync(10, 100, 100, 100);

        // Example: set stroke color and stroke
        await _context.SetStrokeStyleAsync("#ff8080") ;
        await _context.StrokeAsync();

        // Example: set fill color and fill
        await _context.SetFillStyleAsync("#0099b0") ;
        @* await _context.FillAsync(); *@

        await _context.SetLineWidthAsync(2);

        await _context.SetFillStyleAsync("black");
        await _context.FillTextAsync("Some text", 400, 100);

        await _context.SetFontAsync("25px Arial");
        await _context.SetTextAlignAsync(TextAlign.Right);
        await _context.SetTextBaselineAsync(TextBaseline.Top);
    }
}